/*****************************************************************************
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this file, you
 can obtain one at http://mozilla.org/MPL/2.0/.

 Copyright (C) 2018 Markus Kitsinger (SwooshyCueb) <root@swooshalicio.us>
*****************************************************************************/


body, html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 90%;
  margin: 0 2%;
}

form {
  max-width: 60em;
  margin: 0 auto;
}

h1, p {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  white-space: nowrap;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

#topbaby {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 1em;
  min-height: 5em;
  align-items: center;
}

#title {
  flex-grow: 0;
  white-space: nowrap;
  margin-bottom: -1.2em;
}

#goog-signin, #leftspace {
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
  flex-basis: 1px;
  margin-right: 8%;
  margin-left: 8%;
}

#goog-signin {
  margin-bottom: 0em;
  margin-top: 2em;
}

#goog-signin > div {
  float: right;
}

#leftspace {
  height: 1px;
}

.txt, select, form > div {
  display: block;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  padding: 5px;
}

.txt {
  width: 80%;
  display: none;
}

#play {
  display: none;
}

#start {
  display: none;
}

#stop {
  display: none;
}

#goog-signin {
}

select {
  width: 83%;
}

form > div {
  width: 81%;
}

.txt, form > div {
  margin-bottom: 10px;
  overflow: auto;
}

.clearfix {
  clear: both;
}

label {
  float: left;
  width: 10%;
  line-height: 1.5;
}

.rate-value, .pitch-value {
  float: right;
  width: 5%;
  line-height: 1.5;
}

#rate, #pitch {
  float: right;
  width: 81%;
}

.controls {
  text-align: center;
  margin-top: 10px;
}

.controls button {
  padding: 10px;
}
